{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
  <button type="button" class="btn btn-secondary btn-lg btn-block">Vos raids en tant qu'organisateur {{user.username}} : Gestion des bénévoles</button>
  <br/>

  <ul class="list-group flexcolumn">
  {% for raid in raids_organisateurs %}
{#  {{dump(raid)}} #}
    <li class="list-group-item text-left">
      {{raid.nom}}
     <a href= {{ path('choix_benevole_orga', {'idRaid': raid.id }) }}>
        Gérer!
        <span class="glyphicon glyphicon-plus"></span>
      </a>

    </li>
  {% endfor %}
  </ul>


</div>
{% endblock %}
