{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
  <h2 class="btn btn-secondary btn-lg btn-block">Inviter du monde à participer !</h2>
  {% if raids_organisateurs %}

    <ul class="list-group flexcolumn">
    {% for raid in raids_organisateurs %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{raid.nom}}
        <a href= {{ path('inviter_benevole', {'id_raid': raid.id }) }}>
          Inviter des bénevoles!
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Vous n'organisez pour le moment aucun RAID.</p>
  {% endif %}
</div>
{% endblock %}
