<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/styles_FC.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>
            {% include('header_FC.html.twig') %}

            {% block content %}{% endblock %}

            {% include('footer_FC.html.twig') %}
    </body>

</html>
