    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href=""> Sport Event Development</a>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>