{% extends 'base.html.twig' %}
{% block body %}
 {% if app.user == null %}

 <button type="submit" class="btn btn-primary">
    <a href="./login" class="btn btn-primary">Login</a>
</button>

<button type="submit" class="btn btn-primary">
    <a href="./register" class="btn btn-primary">Créer un compte</a>
</button>

{% endif %}
{% endblock %}
