{% extends 'base.html.twig' %}



{% block body %}

{% if app.user == null %}


<button type="submit" class="btn btn-primary">
    <a href="http://localhost/raid_tracker/web/app_dev.php/login" class="btn btn-primary">Login</a>
</button>

<button type="submit" class="btn btn-primary">
    <a href="http://localhost/raid_tracker/web/app_dev.php/register" class="btn btn-primary">Creer un compte</a>
</button>



{% endif %}
{% endblock %}
