{% extends 'base.html.twig' %}

{% block content %}
<div class='vertical-center'>
    <div class="container col col-md-4">
        <div class="card default-color-dark ">
            {{ form_start(form, {'attr': {'class': 'center border border-light p-5 '}}) }}
                <p class="h4 mb-2 text-center">Création d'un parcours</p>
                
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col">
                        {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col">
                        <button class="btn btn-info my-4 btn-block" type="submit">Valider la création</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-info my-4 btn-block" type="submit">Créer un parcours</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-info my-4 btn-block" type="reset">Réinitialiser</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
