{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
   
        <button type="button" class="btn btn-primary btn-lg btn-block">Parcours</button>

        <ul class="list-group">
        {% for parcours in all_parcours %} 
            <a href= {{ path('edition_parcours', {'id':parcours.id} ) }}>
                <li class="list-group-item">{{parcours.nom}}</li>
            </a>
        {% endfor %}
        

    <a href= {{ path('create_parcours',{'id':raid.id}) }}>
        <i class="fas fa-3x fa-plus-circle"></i>
    </a>

</div>
{% endblock %}
