{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <button type="button" class="btn btn-primary btn-lg btn-block">Parcours</button>

        <ul class="list-group">
        {% for parcours in all_parcours %}
            <li class="list-group-item text-left">
                {{parcours.nom}}
            </li>
        {% endfor %}
        </ul>

        <a href= {{ path('create_parcours',{'id':raid.id}) }}>
          <i class="fas fa-3x fa-plus-circle"></i>
        </a>
    </ul>
</div>
{% endblock %}
