.list-group {
    display:flex;
    flex-direction: row;
}

.list-group li {
    padding:2rem;
    min-width:10rem;
    text-align:center;   
}

.list-group a {
    text-decoration: none;
    cursor:pointer;
}

.list-group a:hover li{
    background-color: #007bff;
    color:white;
}

.flexcolumn {
    display:flex;
    flex-direction:column;
}

.raid-row {
    padding:3rem !important;
}