.list-group {
    display:flex;
    flex-direction: row;
}

.list-group li {
    padding:2rem;
    min-width:10rem;
    text-align:center;   
}

.list-group a {
    text-decoration: none;
    cursor:pointer;
}

.list-group a:hover li{
    background-color: #007bff;
    color:white;
}

.flexcolumn {
    display:flex;
    flex-direction:column;
}

.raid-row {
    padding:3rem !important;
}

#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.7);
    z-index: 1000;
}

#loader img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
}

.leaflet-popup-content {
    width:300px;
}

.sortable_item {
    cursor : move;
    text-align:center;
    border-radius: 5px;
    border: grey 1px solid;
    list-style : none;
    padding:2rem;
    margin:0.2rem;
    width : 100%;
}

.ul_style {
    list-style-type : none;
    margin : 0;
    padding : 0;
}

.retour_map{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.form-poste {
    position: absolute;
    background-color: white;
    padding:2rem;
    top: 20%;
    left: 40%;
    z-index: 1000;
}